<nav class="sidebar" id="sidebar">
  <div class="logo">
    <h2>QLAB</h2>
  </div>
  <hr class="sidebar-divider" />
  <ul class="nav-links">
    <li>
      <a href="/pages/dashboard.html">
        <div class="icon">
          <i class="fa-solid fa-house"></i>
        </div>
        Trang chủ</a
      >
    </li>
    <li>
      <a href="/pages/users.html">
        <div class="icon">
          <i class="fa-solid fa-users"></i>
        </div>
        Người dùng</a
      >
    </li>
    <li>
      <a href="/pages/devices.html">
        <div class="icon">
          <i class="fa-solid fa-gears"></i>
        </div>
        Thiết bị</a
      >
    </li>
    <li>
      <a href="/pages/projects.html">
        <div class="icon">
          <i class="fa-solid fa-bars-progress"></i>
        </div>
        Dự án</a
      >
    </li>
  </ul>
</nav>
