.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}

.header-controls button {
  background: none;
  border: none;
  cursor: pointer;
  height: var(--icon-size);
  width: var(--icon-size);
  min-width: var(--icon-size);
  color: var(--color-gray);
}
