<header>
  <div class="header-left">
    <button class="btn-toggle">
      <span class="material-symbols-outlined"> menu </span>
    </button>
    <h2 class="logo">QLAB</h2>
  </div>

  <div class="header-middle">
    <h2 class="title"></h2>
  </div>
  <div class="header-right">
    <button class="btn" onclick="">
      <span class="material-symbols-outlined"> person </span>
    </button>
    <button class="btn" onclick="handleLogout()">
      <span class="material-symbols-outlined"> logout </span>
    </button>
  </div>
</header>
