<aside class="show-sidebar">
  <a href="dashboard.html" class="sidebar-links">
    <i class="fa-solid fa-house"></i>
    Trang chủ
  </a>
  <a href="users.html" class="sidebar-links">
    <i class="fa-solid fa-users"></i>
    Người dùng
  </a>
  <a href="devices.html" class="sidebar-links">
    <i class="fa-solid fa-desktop"></i>
    Thiết bị
  </a>
  <a href="projects.html" class="sidebar-links">
    <i class="fa-solid fa-folder"></i>
    Dự án
  </a>
  <a href="loans.html" class="sidebar-links">
    <i class="fa-solid fa-arrow-right-arrow-left"></i>
    Mượn trả
  </a>
</aside>
