footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: auto;
}

.footer-text {
  color: var(--color-secondary);
}

.footer-text a {
  text-decoration: none;
  color: var(--color-secondary);
  cursor: pointer;
}
