footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.footer-text {
  color: var(--color-secondary);
}

.footer-text a {
  text-decoration: none;
  color: var(--color-accent);
  cursor: pointer;
}
