header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  position: sticky;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-secondary);
}

.header-right .btn-logout,
.header-left .btn-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--color-secondary);
}

.header-right .btn-logout i,
.header-left .btn-toggle i {
  width: 1.5rem;
  font-size: 1.25rem;
  text-align: center;
}

.header-middle .title {
  color: var(--color-secondary);
}
