header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
}

.header-right,
.header-left {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  gap: 0.25rem;
}

.header-middle {
  flex: 1;
  margin-left: 4rem;
}

.header-right .btn,
.header-left .btn-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--color-secondary);
}

.header-right .btn i,
.header-left .btn-toggle i {
  width: 1.5rem;
  font-size: 1.25rem;
  text-align: center;
}

.header-right .btn:hover,
.header-left .btn-toggle:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.header-middle .title {
  color: var(--color-secondary);
}

@media screen and (max-width: 480px) {
  .header-middle {
    margin-left: 2.75rem;
  }
}
