/* sidebar */
.sidebar {
  top: 0;
  position: sticky;
  height: 100vh;
  width: var(--sidebar-width);
  padding-top: 20px;
  margin-left: 20px;
  overflow: hidden;
  color: var(--color-text);
  background-color: var(--background-primary);
}

/* logo */
.logo {
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
}

.logo h2 {
  text-align: center;
  white-space: nowrap;
}

/* divider */
.sidebar-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  border: none;
  background-color: var(--color-border);
}

/* nav links container */
.nav-links {
  width: var(--sidebar-width);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-top: 15px;
}

/* nav links (default, hover, active) */
.nav-links a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-text-secondary);
  font-size: var(--font-size);
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
}

.nav-links a span {
  white-space: nowrap;
}

.nav-links a:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links a:hover .icon {
  transform: scale(1.1);
  background-color: var(--color-primary);
  color: var(--background-primary);
}

.nav-links li.active a {
  color: var(--color-primary);
  font-weight: bold;
  background-color: var(--color-primary-bg);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.nav-links li.active a .icon {
  background-color: var(--color-primary);
  color: var(--background-primary);
  transform: scale(1.1);
}

/* icon */
.nav-links li .icon {
  display: grid;
  place-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  min-width: var(--icon-size);
  margin-right: 10px;
  padding: 5px;
  border-radius: 30%;
  background-color: var(--color-primary-bg);
  color: var(--color-primary);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* toggle button */
.sidebar-toggle {
  display: grid;
  place-content: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 30%;
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  place-content: center;
}

.sidebar-toggle:hover {
  background-color: var(--color-primary);
  color: var(--background-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* collapsed state */
.sidebar.collapsed {
  max-width: 60px;
}

.sidebar.collapsed .logo h2 {
  opacity: 0;
  display: none;
}

.sidebar.collapsed .sidebar-divider {
  max-width: 45px;
}

.sidebar.collapsed .nav-links a span {
  opacity: 0;
  display: none;
}

.sidebar.collapsed .nav-links .icon {
  margin-right: 0;
}

.sidebar.collapsed .nav-links li.active a {
  background-color: transparent;
  box-shadow: none;
}

.sidebar.collapsed .nav-links li.active a .icon {
  color: var(--background-primary);
  background-color: var(--color-primary);
}

.sidebar.collapsed .nav-links li a:hover {
  background-color: transparent;
}

.sidebar.collapsed .nav-links li a:hover .icon {
  background-color: var(--color-primary);
  color: var(--background-primary);
}

.sidebar.collapsed .nav-links a {
  padding: 10px 10px;
}

.sidebar.collapsed .nav-links a:hover {
  background-color: transparent;
  box-shadow: none;
}

.sidebar.collapsed .nav-links a:hover .icon {
  background-color: var(--color-primary);
  color: var(--background-primary);
}

@media screen and (max-width: 480px) {
  .sidebar {
    margin-left: 10px;
    position: absolute;
  }

  .sidebar.collapsed {
    padding-top: 0;
    position: sticky;
    display: grid;
  }

  .sidebar.collapsed .sidebar-toggle {
    display: none;
  }

  .sidebar.collapsed .sidebar-divider {
    display: none;
  }
}
