<nav class="sidebar" id="sidebar">
  <div class="logo">
    <button id="sidebar-toggle" class="sidebar-toggle">
      <i class="fa-solid fa-bars"></i>
    </button>
    <h2>QLAB</h2>
  </div>
  <hr class="sidebar-divider" />
  <ul class="nav-links">
    <li>
      <a href="/pages/dashboard.html">
        <div class="icon">
          <i class="fa-solid fa-house"></i>
        </div>
        <span>Trang chủ</span>
      </a>
    </li>
    <li>
      <a href="/pages/users.html">
        <div class="icon">
          <i class="fa-solid fa-users"></i>
        </div>
        <span>Người dùng</span>
      </a>
    </li>
    <li>
      <a href="/pages/devices.html">
        <div class="icon">
          <i class="fa-solid fa-gears"></i>
        </div>
        <span>Thiết bị</span>
      </a>
    </li>
    <li>
      <a href="/pages/projects.html">
        <div class="icon">
          <i class="fa-solid fa-bars-progress"></i>
        </div>
        <span>Dự án</span>
      </a>
    </li>
    <li>
      <a href="/pages/loans.html">
        <div class="icon">
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
        </div>
        <span>Mượn trả</span>
      </a>
    </li>
  </ul>
</nav>
